body.index{
  background-image: url("../Images/u.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body.about{
  background-image: url("../Images/elephants.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body.contacts{
  background-image: url("../Images/soft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body.pictures{
  background-5image: url("../Images/trial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body.media{
  background-image: url("../Images/trial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
body.travel{
  background-image: url("../Images/milk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
 h1 {
  text-align: center;
  }
.class{
  font-weight: bolder;
  }
p {
  font-family: sans-serif;
  font-size: 17px;
}
ul{
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
    display: inline;
    padding-right: 200px;
  }
li a:hover {
    background-color: #F38BA7;
}
.floated_img
{
  float: left;
}
