h1 {
  text-align: center;
  color: #f38ba6
}
p {
  font-family: sans-serif;
  font-size: 17px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 9AE665;

  }
li{
  float :left;

}
li a{
  display: block;
  color: 9AE665;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a :hover:not(.active){
  background-color: #111;
}
